/*.iml
/.gradle
/gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea
.DS_Store
/build
/bin
/captures
.externalNativeBuild
*.apk
*.dex
/MyApplication
/mylibrary

*.iml
